* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 0px;
    margin-bottom: 20px;
}

.row {
    background-color: gray;
    border: 2px black;
    display: flex;
    justify-content: center;
}





.menu {
    margin: 10px 5px;
}


.caja1{
    background-color: black;
    color: blanchedalmond;
    height: 200px;
}

.cajare{
    background-color: blanchedalmond;
    height: 300px;
    margin-top: 5px;
}
.cajare2{
    background-color:cadetblue;
    height: 300px;
    margin-top: 5px;

}

.boton-nav{
    position: relative;
    align-items: center;
    font-size: 20px;
    width: 40px;
    color: blanchedalmond;
    justify-content: center;
    margin: auto;
  

}


.menu-nav{
    display: flex;
    justify-content: center ;
;
}

.ini{
    position: relative;
    align-items: center;
    font-size: 20px;
    width: 40px;
    background-color: blanchedalmond;
    color: blanchedalmond;
    justify-content: center;
    padding: 10px;

}


.colum{
    background-color: black;
    color: blanchedalmond;
}

.tetxsimu{
    background-color: blanchedalmond;
    margin-top: 10px;
}

.tetxsim{
    background-color: blanchedalmond;
    margin-top: 10px;
    width: 100px;
}